# select the package depending on your platform
./packages/corefw_c-2.3.1-cp38-abi3-win_amd64.whl
#./packages/corefw_c-2.3.1-cp38-abi3-linux_x86_64.whl
#./packages/corefw_c-2.3.1-cp38-abi3-linux_aarch64.whl

./packages/aos_com-1.0.23-py3-none-any.whl
pyserial
intelhex
matplotlib
numpy
pyzmq
pyinstaller
pytest